.gradle
/local.properties
# idea files: exclude everything except dictionaries
.idea/caches
.idea/libraries
.idea/inspectionProfiles
.idea/*.xml
/.idea/shelf/
.DS_Store
build/
bin/
gen/
out/
fastlane/
lint/
captures/
proguard/
.navigation
.externalNativeBuild
/alpha-wallet/*
/tmp
ktlint
vcs.xml
*.aab
*.iml
*.hprof
*.cxx
*.log
*.class
*.dex
*.apk
*.ap_
*.aar
*.diff
